In [1]:
import pandas as pd 
import regex as re
import string

In [2]:
df = pd.read_csv("sample_text.csv") # csv file containg 5 sentences 
df

                                   Sentence
0  The sun sets slowly behind the mountain.
1         Books are gateways to new worlds.
2            She laughed at the silly joke.
3     Rain tapped gently on the windowpane.
4       Adventure awaits those who seek it.

In [3]:
chars = [] # list to store each charactors 
for i in range(0, len(df)):
    # getting each chartactor from a single row of df. and also removing the "."
    sentence_chars = [char for char in re.findall(r'\w', df['Sentence'][i]) if char != '.']  
    chars.extend(sentence_chars) # storing each char in list
print(chars)
print("Total number of charactors in file is: ",len(chars))

['T', 'h', 'e', 's', 'u', 'n', 's', 'e', 't', 's', 's', 'l', 'o', 'w', 'l', 'y', 'b', 'e', 'h', 'i', 'n', 'd', 't', 'h', 'e', 'm', 'o', 'u', 'n', 't', 'a', 'i', 'n', 'B', 'o', 'o', 'k', 's', 'a', 'r', 'e', 'g', 'a', 't', 'e', 'w', 'a', 'y', 's', 't', 'o', 'n', 'e', 'w', 'w', 'o', 'r', 'l', 'd', 's', 'S', 'h', 'e', 'l', 'a', 'u', 'g', 'h', 'e', 'd', 'a', 't', 't', 'h', 'e', 's', 'i', 'l', 'l', 'y', 'j', 'o', 'k', 'e', 'R', 'a', 'i', 'n', 't', 'a', 'p', 'p', 'e', 'd', 'g', 'e', 'n', 't', 'l', 'y', 'o', 'n', 't', 'h', 'e', 'w', 'i', 'n', 'd', 'o', 'w', 'p', 'a', 'n', 'e', 'A', 'd', 'v', 'e', 'n', 't', 'u', 'r', 'e', 'a', 'w', 'a', 'i', 't', 's', 't', 'h', 'o', 's', 'e', 'w', 'h', 'o', 's', 'e', 'e', 'k', 'i', 't']
Total number of charactors in file is:  144

In [4]:
words = [] # list for string each words
for i in range(0, len(df)):
    # getting senatece from a single row, removing punctuation 
    sen = df['Sentence'][i].translate(str.maketrans('', '', string.punctuation)) 
    sen.lower() # converting to lower case
    words.extend(sen.split()) # spliting the sentence by space
print(words)
print(f'Total number of words in file is {len(words)}')

['The', 'sun', 'sets', 'slowly', 'behind', 'the', 'mountain', 'Books', 'are', 'gateways', 'to', 'new', 'worlds', 'She', 'laughed', 'at', 'the', 'silly', 'joke', 'Rain', 'tapped', 'gently', 'on', 'the', 'windowpane', 'Adventure', 'awaits', 'those', 'who', 'seek', 'it']
Total number of words in file is 31